@import 'header';
@import 'footer';
@import 'pages/pages';

#content{
    min-height: 73vh;
    #primary{
        height: 100%;
        .page{
            padding: 8vh;
            .entry-header{
                text-align: center;
                .entry-title{
                    font-weight: 300;
                }
            }
            .entry-content{
                padding: 2em 0 0 0;
            }
        }
    }
}